<html>
<head>
    <title>Create To Do List</title>
</head>
<body>
<h1>You created a task!</h1>
<p>{{ newTask.getDescription }}</p>
<p><a href='/'>View your list of things to do.</a></p>
</body>
</html>
